@{
    ViewBag.Title = "AddPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Оставьте пост</h2>
<form name="test" method="post" action="empty">
    <p>
        <b>Кратко расскажитео чем ваш пост:</b><br>
        <input type="text" size="40">
    </p>
     <p>
        Расскажите миру о чем нибудь:<br>
        <textarea name="comment" cols="40" rows="3"></textarea>
    </p>
    <p>
        <input type="submit" value="Отправить">
        <input type="reset" value="Очистить">
    </p>
</form>