
<form id="cmnt_frm" method="post" action="">
    
    <p>
        <textarea name="comment" cols="65" rows="10" tabindex="4" id="comment"></textarea>
    </p>
    <p>
        <input type="submit" name="submit" value="Отправить" tabindex="5" id="submit" />
        <input type="submit" name="submit" value="Отмена" tabindex="5" id="submit" />

    </p>
</form>
