@{

Layout = "~/Views/Shared/_Layout.cshtml";

}
                                         
@Html.Partial("RecentPost")
<div class="pagination">

    <span class="prev">&laquo;Previous</span>
    <span class="act">1</span>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a class="next" href="#">Next&raquo;</a>
</div>

<!-- Pagination -->
     